@using ShopASPNet.Models.Requests
@model UserSignUpRequest

@{
    ViewData["Title"] = "Edit profile";
    Layout = "_Layout";
}

<h2>Edit profile</h2>

@if (TempData["Error"] is not null) {
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"]</span>
    </div>
}

<form method="post" asp-action="Edit">
    <div class="mb-3">
        <label for="username" class="form-label">First Name: </label>
        <input id="username" placeholder="Username" class="form-control"
               asp-for="Username" />
    </div>
    
    <div class="mb-3">
        <label for="first-name" class="form-label">First Name: </label>
        <input id="first-name" placeholder="First Name" class="form-control"
               asp-for="FirstName"/>
    </div>

    <div class="mb-3">
        <label for="last-name" class="form-label">Last Name: </label>
        <input id="last-name" placeholder="Last Name" class="form-control"
               asp-for="LastName"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
</form>
